:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #9747ff;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

body {
  font-family: var(--primary-font);
}
/*======COMPONENTS======*/
.logo {
  text-decoration: none;

  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo-color {
  color: #2e2f42;
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: #2e2f42;
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
  text-decoration-line: underline;
  border-bottom: 1px solid #9747ff;
}
.contact-mail:hover,
.contact-mail:focus {
  color: var(--accent-color);
  text-decoration-line: underline;
  border-bottom: 1px solid #9747ff;
}
.contact-mail {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: #434455;
}
.contact-phone-number:hover,
.contact-phone-number:focus {
  color: var(--accent-color);
  text-decoration-line: underline;
  border-bottom: 1px solid #9747ff;
}
.contact-phone-number {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: #434455;
}
.title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;

  color: #2e2f42;
}
.description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5x;

  letter-spacing: 0.02em;

  color: #434455;
}
/*====== /COMPONENTS/ ======*/

/*======HEADER======*/
.logo {
  text-decoration: none;

  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo-color {
  color: #2e2f42;
}
.menu-link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: #2e2f42;
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
  text-decoration-line: underline;
  border-bottom: 1px solid #9747ff;
}
.contact-mail:hover,
.contact-mail:focus {
  color: var(--accent-color);
  text-decoration-line: underline;
  border-bottom: 1px solid #9747ff;
}
.contact-mail {
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: #434455;
}
.contact-phone-number:hover,
.contact-phone-number:focus {
  color: var(--accent-color);
  text-decoration-line: underline;
  border-bottom: 1px solid #9747ff;
}
.contact-phone-number {
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: #434455;
}
/*====== /HEADER/ ======*/

/*======HERO======*/
.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.1x;

  text-align: center;
  letter-spacing: 0.02em;

  /*color: #ffffff;*/
}
.modal-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;

  color: #ffffff;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.modal-btn:hover,
.modal-btn:focus {
  color: #ffffff;
  background: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/*====== /HERO/ ======*/
.title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;

  color: #2e2f42;
}
.description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5x;

  letter-spacing: 0.02em;

  color: #434455;
}
.title-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: #2e2f42;
}
.filtr-button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;

  color: #4d5ae5;
}
.filtr-button:hover,
.filtr-button:focus {
  color: #ffffff;
  background: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
